### Load the Dataset

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv(r"C:\Users\taha\Desktop\survey_data_with_duplicate.csv")

### Show data row

In [51]:
df.head(10)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,"School (i.e., University, College, etc);Online...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
6,7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",Remote,Apples,I don’t code outside of work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Written...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN
7,8,I am learning to code,18-24 years old,"Student, full-time;Not employed, but looking f...",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Video-based Online Cou...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Difficult,NaN,NaN
8,9,I code primarily as a hobby,45-54 years old,"Employed, full-time",In-person,Apples,Hobby,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Written-based Online Courses,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
9,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

###  Explore the Dataset

In [52]:
df.shape

(65457, 114)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

In [54]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65457.000000,3.374400e+04,29664.000000,29330.000000,29399.000000,29417.000000,29456.000000,29454.000000,29462.000000,29462.000000,29456.000000,29451.000000,2.343700e+04,29131.000000
mean,32714.493591,2.963490e+145,11.466323,18.578998,7.520604,10.059485,24.339971,22.964277,20.279127,16.167837,10.953481,9.953618,8.615893e+04,6.934915
std,18892.431636,5.443794e+147,9.168205,25.965347,18.421094,21.831924,27.088870,27.017634,26.110706,24.844177,22.904463,21.775070,1.867532e+05,2.088356
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16354.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32716.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.000000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49076.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.000000,25.000000,20.000000,10.000000,10.000000,1.080000e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### A. Identify and remove duplicate rows

 Locate any duplicate rows within the dataset.and
 Remove these duplicates to maintain data integrity.

In [55]:
num_duplicated_row = df.duplicated().sum()
print(f"number of duplicated row:{num_duplicated_row}")

number of duplicated row:20

In [56]:
critical_columns = ['MainBranch', 'Employment', 'RemoteWork', 'Country', 'Age']

df.drop_duplicates(subset=critical_columns, keep='first', inplace=True)

print(f"Dataset shape after strategic removal: {df.shape}")

Dataset shape after strategic removal: (12141, 114)

### B. Analyze missing values == Calculate the number of missing values in each column to assess data completeness

In [57]:
missing_counts = df.isnull().sum().sort_values(ascending=False)
missing_counts

AINextMuch less integrated    11830
AINextLess integrated         11558
AINextNo change                9741
AINextMuch more integrated     9266
ConvertedCompYearly            8849
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64

In [58]:
# 1. حساب عدد القيم المفقودة في كل عمود
missing_data = df.isnull().sum()

# 2. حساب النسبة المئوية للقيم المفقودة (عشان الصورة تكون أوضح)
missing_percentage = (df.isnull().sum() / len(df)) * 100

# 3. تجميع النتائج في جدول واحد وترتيبه تنازلياً
missing_summary = pd.DataFrame({
    'Missing Values': missing_data,
    'Percentage (%)': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# 4. عرض أعلى 10 أعمدة
print("Top 10 columns with the highest missing values:")
print(missing_summary.head(10))

Top 10 columns with the highest missing values:
                            Missing Values  Percentage (%)
AINextMuch less integrated           11830       97.438432
AINextLess integrated                11558       95.198089
AINextNo change                       9741       80.232271
AINextMuch more integrated            9266       76.319908
ConvertedCompYearly                   8849       72.885265
EmbeddedAdmired                       8567       70.562557
Knowledge_9                           8434       69.467095
Frequency_3                           8414       69.302364
Knowledge_7                           8412       69.285891
Knowledge_8                           8409       69.261181

In [59]:
missing_counts.sum()

np.int64(590054)

In [60]:
df["RemoteWork"].isna().sum()

np.int64(3336)

In [61]:
most_RemoteWork_freqence=df["RemoteWork"].value_counts().index[0]
most_RemoteWork_freqence

'Hybrid (some remote, some in-person)'

In [62]:
df["RemoteWork"] = df["RemoteWork"].fillna(most_RemoteWork_freqence)

In [63]:
df["RemoteWork"].isna().sum()

np.int64(0)

In [64]:
df["CodingActivities"].isnull().sum()

np.int64(3337)

In [65]:
df["CodingActivities"] = df["CodingActivities"].ffill()

### C. Normalize data for comparative analysis

### apply Min-Max normalization to the ConvertedCompYearly column, creating a new column ConvertedCompYearly_MinMax with normalized values.

In [66]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
scaler = MinMaxScaler()
df_cleaned = df.dropna(subset=['ConvertedCompYearly']).copy()
df_cleaned['ConvertedCompYearly_MinMax'] = scaler.fit_transform(df_cleaned[['ConvertedCompYearly']])
print(df_cleaned[['ConvertedCompYearly', 'ConvertedCompYearly_MinMax']].head())
print(f"\nMinimum value: {df_cleaned['ConvertedCompYearly_MinMax'].min()}")
print(f"Maximum value: {df_cleaned['ConvertedCompYearly_MinMax'].max()}")

     ConvertedCompYearly  ConvertedCompYearly_MinMax
72                7322.0                    0.000450
389             110000.0                    0.006766
403              44586.0                    0.002743
409              57999.0                    0.003568
415              79481.0                    0.004889

Minimum value: 0.0
Maximum value: 1.0

### calculate Z-scores for the ConvertedCompYearly column, saving the results in a new column ConvertedCompYearly_Zscore.

In [67]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
df_cleaned = df.dropna(subset=['ConvertedCompYearly']).copy()
df_cleaned['ConvertedCompYearly_Zscore'] = std_scaler.fit_transform(df_cleaned[['ConvertedCompYearly']])
print(df_cleaned[['ConvertedCompYearly', 'ConvertedCompYearly_Zscore']].head())
print(f"\nNew Mean (المتوسط الجديد): {df_cleaned['ConvertedCompYearly_Zscore'].mean():.2f}")
print(f"New Std Dev (الانحراف المعياري الجديد): {df_cleaned['ConvertedCompYearly_Zscore'].std():.2f}")

     ConvertedCompYearly  ConvertedCompYearly_Zscore
72                7322.0                   -0.158426
389             110000.0                    0.109819
403              44586.0                   -0.061074
409              57999.0                   -0.026033
415              79481.0                    0.030089

New Mean (المتوسط الجديد): 0.00
New Std Dev (الانحراف المعياري الجديد): 1.00

### C. Examine employment status

Use the Employment column to identify value counts and analyze employment distribution among respondents

In [68]:
employment_counts = df['Employment'].value_counts()

print("Employment Status Distribution:")
print(employment_counts)

employment_pct = df['Employment'].value_counts(normalize=True) * 100

print("\nEmployment Status Percentage (%):")
print(employment_pct.map('{:.2f}%'.format))

Employment Status Distribution:
Employment
Employed, full-time                                                                                                                                   2652
Independent contractor, freelancer, or self-employed                                                                                                  1345
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                               903
Student, full-time                                                                                                                                     743
Not employed, but looking for work                                                                                                                     733
                                                                                                                                                      ...
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time       1
Student, full-time;Retired                                                                                                                               1
Employed, full-time;Not employed, but looking for work;Student, part-time                                                                                1
Not employed, and not looking for work;Student, part-time;Employed, part-time                                                                            1
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired                                       1
Name: count, Length: 110, dtype: int64

Employment Status Percentage (%):
Employment
Employed, full-time                                                                                                                                   21.84%
Independent contractor, freelancer, or self-employed                                                                                                  11.08%
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                               7.44%
Student, full-time                                                                                                                                     6.12%
Not employed, but looking for work                                                                                                                     6.04%
                                                                                                                                                       ...
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time     0.01%
Student, full-time;Retired                                                                                                                             0.01%
Employed, full-time;Not employed, but looking for work;Student, part-time                                                                              0.01%
Not employed, and not looking for work;Student, part-time;Employed, part-time                                                                          0.01%
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired                                     0.01%
Name: proportion, Length: 110, dtype: object

### D. Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.

In [69]:
country_counts = df['Country'].value_counts()
print("Top 20 countries:")
print(country_counts.head(20))
unique_countries = df['Country'].unique()
print(f"\nTotal unique entries in Country: {len(unique_countries)}")

Top 20 countries:
Country
United States of America                                776
Germany                                                 442
India                                                   382
United Kingdom of Great Britain and Northern Ireland    340
Canada                                                  335
Ukraine                                                 300
France                                                  262
Poland                                                  261
Brazil                                                  246
Australia                                               245
Netherlands                                             238
Russian Federation                                      237
Italy                                                   229
Spain                                                   190
Czech Republic                                          190
Switzerland                                             188
Austria                                                 185
Turkey                                                  162
Israel                                                  161
Sweden                                                  151
Name: count, dtype: int64

Total unique entries in Country: 186

In [70]:
min_respondents = 50
countries_to_keep = country_counts[country_counts > min_respondents].index

df_filtered = df[df['Country'].isin(countries_to_keep)]

print(f"Data shape before filtering: {df.shape}")
print(f"Data shape after filtering: {df_filtered.shape}")

Data shape before filtering: (12141, 114)
Data shape after filtering: (9699, 114)

### Standardization

In [71]:
country_mapping = {
    'United States of America': 'United States',
    'USA': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'UK': 'United Kingdom'
}

df['Country'] = df['Country'].replace(country_mapping)

In [72]:
print("Original Education Levels:")
print(df['EdLevel'].unique())

ed_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor',
    'Master’s degree (M.A., M.S., M.Eng., etc.)': 'Master',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High School',
    'Some college/university study without earning a degree': 'Undergrad',
    'Professional degree (JD, MD, etc.)': 'Professional',
    'Other doctoral degree (Ph.D., Ed.D., etc.)': 'PhD',
    'Associate degree (A.A., A.S., etc.)': 'Associate',
    'Something else': 'Other',
    'Primary/elementary school': 'Primary School'
}

df['EdLevel'] = df['EdLevel'].replace(ed_mapping)

print("\nStandardized Education Levels:")
print(df['EdLevel'].value_counts())

Original Education Levels:
['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

Standardized Education Levels:
EdLevel
Bachelor                                           3915
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)    2313
Undergrad                                          1948
High School                                        1725
Professional degree (JD, MD, Ph.D, Ed.D, etc.)      646
Primary School                                      407
Associate                                           374
Other                                               314
Name: count, dtype: int64

In [73]:
df['EdLevel'] = df['EdLevel'].replace('I prefer not to say', np.nan)